@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #068587, #4FB99F );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #06101667;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #ED553B;
    text-align: center;
    text-shadow: 1px 1px 2px #7e2d1f91;
}

h2 {
    color:#112F41;
}

p {
    text-align: justify;
}